// @import './iconfont.css';

.test {
  // 可以通过 @apply 多个样式封装整体样式
  @apply mt-4 ml-4;

  padding-top: 4px;
  color: red;
}

:root,
page {
  // 修改按主题色
  // --wot-color-theme: #37c2bc;

  // 修改按钮背景色
  // --wot-button-primary-bg-color: green;
  --clip-play-bg: linear-gradient(225deg, #202126, #2c6811);
  --clip-add-bg: linear-gradient(92deg, #92ff5c, #92ffd5 49%, #4ad8ff);
  --content-bg: #202126;
}
